.search-bar
{
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 20px;
    
    margin-bottom: 20px;
    color: lightslategray;
    font-size: 28px;
    background-color: cornsilk;
}

.search-bar form
{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.search-bar input
{
    width: 500px;
    height: 30px;
}